<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>size</key>
        <string>10.8M</string>
        <key>download</key>
        <string>189.8万</string>
        <key>name</key>
        <string>天天酷跑</string>
        <key>icon</key>
        <string>icon_00</string>
    </dict>
    <dict>
        <key>size</key>
        <string>8.5M</string>
        <key>download</key>
        <string>120.5万</string>
        <key>name</key>
        <string>开心消消乐</string>
        <key>icon</key>
        <string>icon_01</string>
    </dict>
    <dict>
        <key>size</key>
        <string>12.3M</string>
        <key>download</key>
        <string>200.3万</string>
        <key>name</key>
        <string>王者荣耀</string>
        <key>icon</key>
        <string>icon_02</string>
    </dict>
    <dict>
        <key>size</key>
        <string>15.6M</string>
        <key>download</key>
        <string>350.7万</string>
        <key>name</key>
        <string>和平精英</string>
        <key>icon</key>
        <string>icon_03</string>
    </dict>
    <dict>
        <key>size</key>
        <string>9.2M</string>
        <key>download</key>
        <string>150.2万</string>
        <key>name</key>
        <string>地铁跑酷</string>
        <key>icon</key>
        <string>icon_04</string>
    </dict>
    <dict>
        <key>size</key>
        <string>7.8M</string>
        <key>download</key>
        <string>100.9万</string>
        <key>name</key>
        <string>贪吃蛇大作战</string>
        <key>icon</key>
        <string>icon_05</string>
    </dict>
    <dict>
        <key>size</key>
        <string>11.1M</string>
        <key>download</key>
        <string>180.4万</string>
        <key>name</key>
        <string>球球大作战</string>
        <key>icon</key>
        <string>icon_06</string>
    </dict>
    <dict>
        <key>size</key>
        <string>13.4M</string>
        <key>download</key>
        <string>220.6万</string>
        <key>name</key>
        <string>第五人格</string>
        <key>icon</key>
        <string>icon_07</string>
    </dict>
    <dict>
        <key>size</key>
        <string>14.7M</string>
        <key>download</key>
        <string>280.1万</string>
        <key>name</key>
        <string>原神</string>
        <key>icon</key>
        <string>icon_08</string>
    </dict>
    <dict>
        <key>size</key>
        <string>10.2M</string>
        <key>download</key>
        <string>160.3万</string>
        <key>name</key>
        <string>明日之后</string>
        <key>icon</key>
        <string>icon_09</string>
    </dict>
    <dict>
        <key>size</key>
        <string>8.9M</string>
        <key>download</key>
        <string>110.5万</string>
        <key>name</key>
        <string>摩尔庄园</string>
        <key>icon</key>
        <string>icon_10</string>
    </dict>
    <dict>
        <key>size</key>
        <string>12.6M</string>
        <key>download</key>
        <string>250.2万</string>
        <key>name</key>
        <string>哈利波特：魔法觉醒</string>
        <key>icon</key>
        <string>icon_11</string>
    </dict>
</array>
</plist>
