<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>在不在啊？</string>
		<key>time</key>
		<string>09:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>在呢，刚下课，有事吗？</string>
		<key>time</key>
		<string>09:32</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>周末要不要一起去看新上映的电影？</string>
		<key>time</key>
		<string>09:33</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>可以啊，几点的场次？</string>
		<key>time</key>
		<string>09:35</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>下午3点的怎么样？看完还能一起吃个饭~</string>
		<key>time</key>
		<string>09:37</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>没问题，到时候电影院门口见？</string>
		<key>time</key>
		<string>09:38</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>好的，不见不散~</string>
		<key>time</key>
		<string>09:40</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>骗你的，我根本不想去</string>
		<key>time</key>
		<string>09:41</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>懒得喷</string>
		<key>time</key>
		<string>09:43</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>去网吧怎么样</string>
		<key>time</key>
		<string>09:45</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>上号</string>
		<key>time</key>
		<string>09:45</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
