<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>林雨汐</string>
		<key>icon</key>
		<string>icon_00</string>
		<key>options</key>
		<array>
			<string>石</string>
			<string>发</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>会</string>
			<string>说</string>
			<string>使</string>
			<string>法</string>
			<string>都</string>
			<string>段</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>二</string>
			<string>汐</string>
			<string>涵</string>
			<string>改</string>
			<string>个</string>
			<string>第</string>
		</array>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>石</string>
			<string>发</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>会</string>
			<string>说</string>
			<string>使</string>
			<string>法</string>
			<string>细</string>
			<string>段</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>二</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>第</string>
		</array>
		<key>answer</key>
		<string>郭细林</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>石</string>
			<string>发</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>会</string>
			<string>曾</string>
			<string>使</string>
			<string>法</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>第</string>
		</array>
		<key>answer</key>
		<string>曾杰彪</string>
		<key>icon</key>
		<string>icon_02</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>石</string>
			<string>朱</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>会</string>
			<string>曾</string>
			<string>使</string>
			<string>法</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>朱俊</string>
		<key>icon</key>
		<string>icon_03</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>景</string>
			<string>朱</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>跚</string>
			<string>曾</string>
			<string>使</string>
			<string>法</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>郭景跚</string>
		<key>icon</key>
		<string>icon_04</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>景</string>
			<string>朱</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>跚</string>
			<string>曾</string>
			<string>使</string>
			<string>法</string>
			<string>凯</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>瑞</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>郑</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>郑凯瑞</string>
		<key>icon</key>
		<string>icon_05</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>景</string>
			<string>朱</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>跚</string>
			<string>曾</string>
			<string>昂</string>
			<string>法</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>陈</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>陈昂涵</string>
		<key>icon</key>
		<string>icon_06</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>伯</string>
			<string>朱</string>
			<string>如</string>
			<string>给</string>
			<string>雨</string>
			<string>跚</string>
			<string>曾</string>
			<string>使</string>
			<string>卢</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>林</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>良</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>卢伯良</string>
		<key>icon</key>
		<string>icon_07</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>景</string>
			<string>朱</string>
			<string>如</string>
			<string>周</string>
			<string>雨</string>
			<string>跚</string>
			<string>曾</string>
			<string>使</string>
			<string>法</string>
			<string>细</string>
			<string>杰</string>
			<string>吃</string>
			<string>嘉</string>
			<string>非</string>
			<string>炜</string>
			<string>彪</string>
			<string>汐</string>
			<string>涵</string>
			<string>郭</string>
			<string>个</string>
			<string>俊</string>
		</array>
		<key>answer</key>
		<string>周嘉炜</string>
		<key>icon</key>
		<string>icon_08</string>
	</dict>
</array>
</plist>
