<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstLetter</key>
		<string>A</string>
		<key>cars</key>
		<array>
			<dict>
				<key>brand</key>
				<string>奥迪（Audi）</string>
				<key>imageName</key>
				<string>icon1</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>阿斯顿·马丁（Aston Martin）</string>
				<key>imageName</key>
				<string>icon2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>firstLetter</key>
		<string>B</string>
		<key>cars</key>
		<array>
			<dict>
				<key>brand</key>
				<string>宝马（BMW）</string>
				<key>imageName</key>
				<string>icon3</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>奔驰（Mercedes-Benz）</string>
				<key>imageName</key>
				<string>icon4</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>保时捷（Porsche）</string>
				<key>imageName</key>
				<string>icon5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>firstLetter</key>
		<string>H</string>
		<key>cars</key>
		<array>
			<dict>
				<key>brand</key>
				<string>本田（Honda）</string>
				<key>imageName</key>
				<string>icon6</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>红旗（Hongqi）</string>
				<key>imageName</key>
				<string>icon7</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>firstLetter</key>
		<string>T</string>
		<key>cars</key>
		<array>
			<dict>
				<key>brand</key>
				<string>丰田（Toyota）</string>
				<key>imageName</key>
				<string>icon8</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>特斯拉（Tesla）</string>
				<key>imageName</key>
				<string>icon9</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>firstLetter</key>
		<string>W</string>
		<key>cars</key>
		<array>
			<dict>
				<key>brand</key>
				<string>大众（Volkswagen）</string>
				<key>imageName</key>
				<string>icon10</string>
			</dict>
			<dict>
				<key>brand</key>
				<string>沃尔沃（Volvo）</string>
				<key>imageName</key>
				<string>icon11</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
