<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Column vertical form(add)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Make-Ten</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Decomposition and compensation</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Moving the numbers</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finding the base number</string>
	</dict>
</array>
</plist>
