<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>user1.jpg</string>
				<key>intro</key>
				<string>我的好友好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user2.jpg</string>
				<key>intro</key>
				<string>好友2的个性签名</string>
				<key>name</key>
				<string>好友2名称</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user3.jpg</string>
				<key>intro</key>
				<string>我的好友好友-2的个性签名</string>
				<key>name</key>
				<string>我的好友好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>user7.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user4.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user5.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user6.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中好友</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>user8.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user9.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user10.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user11.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user12.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user13.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>user14.jpg</string>
				<key>intro</key>
				<string>其他分组好友1的签名</string>
				<key>name</key>
				<string>其他分组好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大学好友</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
