<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>美食达人小A</string>
		<key>text</key>
		<string>今天去打卡了一家超好吃的火锅店，锅底特别香，毛肚也很脆！</string>
		<key>icon</key>
		<string>user1.jpg</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>周末去爬山，看到了超美的云海，大自然太治愈了～</string>
		<key>icon</key>
		<string>user2.jpg</string>
		<key>name</key>
		<string>户外达人小B</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>新入手的耳机，音质绝了，沉浸式听歌太幸福啦～</string>
		<key>icon</key>
		<string>user3.jpg</string>
		<key>name</key>
		<string>数码迷小C</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>headphone.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>最近在看的书，每一页都有惊喜，强烈推荐给大家～</string>
		<key>icon</key>
		<string>user4.jpg</string>
		<key>name</key>
		<string>书虫小D</string>
		<key>vip</key>
		<integer>0</integer>
		<key>picture</key>
		<string>book.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>终于学会做蛋糕了，第一次做就成功，太有成就感了！</string>
		<key>icon</key>
		<string>user5.jpg</string>
		<key>name</key>
		<string>烘焙新手小E</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>cake.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>今天去试了街角的新开的咖啡馆，拿铁的拉花超可爱！环境也很安静，适合办公～ ☕️ #日常探店 #</string>
		<key>icon</key>
		<string>user6.jpg</string>
		<key>name</key>
		<string>咖啡爱好者小F</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>coffee.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>今天也是滑板高手！</string>
		<key>icon</key>
		<string>user7.jpg</string>
		<key>name</key>
		<string>滑板高手小E</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>huaban.jpg</string>
	</dict>
</array>
</plist>
